@using X.PagedList
@using X.PagedList.Mvc.Core
@using Microsoft.AspNetCore.Http
@model IPagedList<dynamic>

<div class="text-center">
    <h1 class="display-4">Games and Developers</h1>
</div>

<div>
    <form asp-controller="Home" asp-action="Index" method="get">
        <div class="form-group">
            <input type="text" name="searchString" class="form-control" value="@ViewBag.SearchString" placeholder="Wyszukaj produkty">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Platform</th>
            <th>Release Date</th>
            <th>Genre</th>
            <th>Developer</th>
            <th>Developer country</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var gameWithDeveloper in Model)
        {
            <tr>
                <td>@gameWithDeveloper.GameId</td>
                <td>@gameWithDeveloper.GameTitle</td>
                <td>@gameWithDeveloper.GamePlatform</td>
                <td>@gameWithDeveloper.GameReleaseYear</td>
                <td>@gameWithDeveloper.GameGenre</td>
                <td>@gameWithDeveloper.DeveloperName</td>
                <td>@gameWithDeveloper.DeveloperCountry</td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchString = ViewBag.SearchString }))
</div>
